/*
Colors used:
Primary Color (green): #5A6C5A
Secondary Color (beige): #E4D8D2
*/
* {
  box-sizing: border-box;
}

  body {
     background-color: #ffffff;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 16px; /* Sets the font size to 16px */
     font-weight: 300; /* Sets the font weight to 300 */
     line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */

     color: #4a4a4a;
   }

   header {
     background-color: #ffffff;
     text-align: center;
     padding: 10px;
     margin: 10px;
     box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
     position: relative;
   }

   h1 {
     font-size: 2.75em;
     font-weight: 700;
   }

   h2 {
     font-size: 2.25em;
     font-weight: 700;
   }

   h3 {
     font-size: 1.75em;
     font-weight: 400;
   }

   h4 {
     font-size: 1.35em;
     font-weight: 400;
   }

   img {
     width: 100%;
   }

   a {
     color: #5a6c5a;
     text-decoration: none; /* No underlining */
   }
   a:hover
   a:focus {
     color: #e4d8d2;
     text-decoration: underline; /* Underlining when hovering over a link */
   }

   a:visited { /* visited link */
     color: #5a6c5a;
   }
   a:active { /* selected link */
   color: #e4d8d2;
   }

   .button.contact {
     background-color: transparent;
     color: #5a6c5a;
     text-transform: uppercase;
     border: 2px solid: #5a6c5a;
   }

   .button:hover {
     background-color: #5a6c5a;
     color: #ffffff;
   }

   .button {
     display: inline-block;
     background-color: #5a6c5a;
     color: #ffffff;
     font-weight: 400;
     padding: 10px;
     border-radius: 3px;
     border-bottom: 2px solid #994c30;
     transition: 0.2s opacity;
   }
   .button:hover {
     opacity: 0.8;
     text-decoration: none;
   }

   .button:visited {
     color: #ffffff;
   }

   /* Layout Styling */

   .container {
     padding: 0 15px;
   }

   .row {
     margin: 25px 0; /* 25px top and bottom, 0 left and right */
   }

   #hero h1 {
     text-align: center; /* Centers text */
   }

   .logo {
     max-width: 250px;
   }

   nav > ul {
     list-style-type: none;
     padding: 0;
   }

   nav > ul > li {
     display: inline-block;
   }

   nav > ul > li > a:visited {
     padding: 0 15px;
     text-transform: uppercase;
     font-weight: 700;
     color: #ffffff;
     width: 100%
   }

   #hero {
     background-color: #ffffff;
     padding: 20px 0;
     display: inline-block;
     width: 100%;
   }

   #about h1 {
     text-align: center; /* Centers text */
   }

   .social {
     text-align:center;
   }

   .social a {
     display: inline-block;
     margin: 0 50px;
   }

   .social svg{
     width: 50px;
     height: auto;
   }
