/*
Colors used:
Primary Color (green): #5A6C5A
Secondary Color (beige): #E4D8D2
*/
* {
  box-sizing: border-box;
}

  body {
     background-color: #ffffff;
     font-family: 'Montserrat Alternates', sans-serif;
     font-size: 18px; /* Sets the font size to 18px */
     font-weight: 300; /* Sets the font weight to 300 */
     line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */

     color: #4a4a4a;
   }

   header {
     background-color: #ffffff;
     padding: 10px 0 4px;
     margin: 10px;
     box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25);
     position: relative;
     max-width: 150px;
   }

   h1 {
     font-size: 2.75em;
     font-weight: 700;
   }

   h2 {
     font-size: 2.25em;
     font-weight: 700;
   }

   h3 {
     font-size: 1.75em;
     font-weight: 400;
     padding: 10px;
   }

   h4 {
     font-size: 1.35em;
     font-weight: 400;
   }

   p {
     padding: 10px;
   }

   img {
     width: 100%;
   }

   a {
     color: #5a6c5a;
     text-decoration: none; /* No underlining */
   }
   a:hover
   a:focus {
     color: #e4d8d2;
     text-decoration: underline; /* Underlining when hovering over a link */
   }

   a:visited { /* visited link */
     color: #5a6c5a;
   }
   a:active { /* selected link */
   color: #e4d8d2;
   }

   .button.contact {
     background-color: transparent;
     color: #5a6c5a;
     text-transform: uppercase;
     border: 2px solid #5a6c5a;
   }

   .button:hover {
     background-color: #5a6c5a;
     color: #ffffff;
   }

   .button {
     display: inline-block;
     background-color: #5a6c5a;
     color: #ffffff;
     font-weight: 400;
     text-decoration: none;
     padding: 10px;
     border-radius: 3px;
     border-bottom: 2px solid #994c30;
     transition-duration: 0.2s opacity;
   }
   .button:hover {
     opacity: 0.8;
   }

   .button:visited {
     color: #ffffff;
   }

   /* Layout Styling */

   .container {
     padding: 0 15px;
   }

   .row {
     margin: 25px 0; /* 25px top and bottom, 0 left and right */
   }

   #hero h1 {
     text-align: center; /* Centers text */
   }

   .logo {
     max-width: 250px;
   }

   nav > ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
   }

   nav > ul > li > a:visited {
     padding: 0 15px;
     text-transform: uppercase;
     font-weight: 700;
     color: #5a6c5a;
     width: 100%
   }

   .navtoggle li:not(:last-child) {
     display: none
   }

   .navtoggle, .navtoggle.responsive {
     position: relative;
   }

   .navtoggle.responsive nav {
     padding: 24px 0 0;
   }

   .navtoggle.responsive li:last-child {
     padding: 0 0 10px;
   }

   .navtoggle li .icon {
     position: absolute;
     right: 0;
     top: 2px;
     font-size: 20px;
     padding-right: 0;
   }

   .navtoggle.responsive li {
     display: block;
     padding: 10px 0;
     border-top: 1px solid rgba(255,127,80,0,5);
   }

   main {
     padding-top: 56px;
   }

   #hero {
     background-color: #ffffff;
     padding: 20px 0;
     display: inline-block;
     width: 100%;
   }

   #about h1 {
     text-align: center; /* Centers text */
   }

   #contact {
     text-align: center;
   }

   .social {
     text-align:center;
     padding: 15px;
   }

   .social a {
     display: inline-block;
     margin: 0 50px;
   }

   .social svg{
     width: 50px;
     height: auto;
   }

   .sun {
     animation-duration: 4s;
     animation-name: color-change;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-timing-function: linear;
   }

   .cloud-front {
     animation-duration: 30s;
     animation-name: cloud-move;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-timing-function: linear;
   }

   .cloud-back {
     animation-duration: 30s;
     animation-name: cloud-move-reverse;
     animation-iteration-count: infinite;
     animation-direction: alternate;
     animation-timing-function: linear;
   }

   @keyframes color-change {
     from {fill: #ec655;}
     to {fill: #f76414;}
   }

   @keyframes cloud-move {
     from {transform: translate(0,50px);}
     to {transform: translate(200px,50px);}
   }

   @keyframes cloud-move-reverse {
     from {transform: translate(446px,48px);}
     to {transform: translate(100px,48px);}
   }

   /* Medium Devices (640px and larger) */
   @media only screen and (min-width: 640px){
   header {
     text-align: unset;
     padding: 20px 0 13px;
   }

   nav {
     width: auto;
     float: right;
     margin-top: 99px;
   }

   nav > ul {
     margin: 1em 0;
   }

   nav > ul > li {
     display: inline-block;
   }

   .navtoggle li:not(:last-child) {
     display: inline-block;
   }

   .navtoggle li:last-child {
     display: none;
   }

   .col-md-6 {
     width: 50%;
     padding: 60px;
   }

   [class*="col-"] {
     float: left;
   }

   .row::after {
     content: "";
     clear: both;
     display: table;
   }
}

   /* Large devices (1024px or larger) */
   @media only screen and (min-width: 1024px) {
   header {
     text-align: unset;
     padding: 20px 0 13px;
   }

   nav {
     width: auto;
     float: right;
     margin-top: 99px;
   }

   .col-lg-7 {
     width: 50%;
   }

   [class*="col-"] {
     float: left;
   }

   .row::after {
     content: "";
     clear: both;
     display: table;
   }

   .container {
     max-width: 1200px;
     margin-left: auto;
     margin-right: auto;
   }
}

   /* X-large devices (1440px or larger) */
   @media only screen and (min-width: 1440px){
   }

   #hero span {
     display: block;
   }
